<div class="lesson-flashcard">
  {% if slide.content_payload.image and slide.content_payload.front_text %}
  <div class="lesson-flashcard__image-wrap">
    <img
      class="lesson-flashcard__image"
      src="{{ slide.content_payload.image }}"
      alt="{{ slide.slide_title }}">
  </div>
  {% endif %}

  <button
    type="button"
    class="lesson-flashcard__card"
    @click="revealed = !revealed">
    {% if slide.content_payload.image and not slide.content_payload.front_text %}
    <img
      class="lesson-flashcard__card-image"
      x-show="!revealed"
      x-cloak
      src="{{ slide.content_payload.image }}"
      alt="{{ slide.slide_title }}">
    {% endif %}

    {% if slide.content_payload.front_text %}
    <span
      class="lesson-flashcard__text"
      x-show="!revealed"
      :style='getResponsiveTextStyle({{ slide.content_payload.front_text | tojson }}, "word")'>
      {{ slide.content_payload.front_text }}
    </span>
    {% endif %}

    <span
      class="lesson-flashcard__text"
      x-show="revealed"
      :style='getResponsiveTextStyle({{ (slide.content_payload.back_text or slide.content_payload.front_text) | tojson }}, "word")'>
      {{ slide.content_payload.back_text or slide.content_payload.front_text }}
    </span>

    <span class="lesson-flashcard__hint" x-show="!revealed" x-cloak>tap to reveal</span>
  </button>

  <div class="lesson-flashcard__actions">
    {% if slide.content_payload.audio %}
    <button
      type="button"
      class="lesson-flashcard__button lesson-flashcard__button--play"
      @click="playAudio('{{ slide.content_payload.audio }}')">
      ▶ Audio
    </button>
    {% endif %}

    <button
      type="button"
      class="lesson-flashcard__button lesson-flashcard__button--reveal"
      @click="revealed = !revealed">
      <span x-text="revealed ? 'Hide' : 'Reveal'">Reveal</span>
    </button>
  </div>
</div>
