<div class="lesson-block-body">
    {% include "lesson/partials/shared/block_notes.html" %}

    {% if slide.content_payload.get("morpheme_items") %}
        {% with items = slide.content_payload.get("morpheme_items", []), row_label = "Word Part" %}
            {% include "lesson/partials/shared/list_rows.html" %}
        {% endwith %}
    {% endif %}

    {% if slide.content_payload.get("close_questions") %}
        {% with items = slide.content_payload.get("close_questions", []), row_label = "Close" %}
            {% include "lesson/partials/shared/list_rows.html" %}
        {% endwith %}
    {% endif %}
</div>