<div class="lesson-drag-word">
  {% if slide.content_payload.text %}
  <div class="lesson-drag-word__feedback">
    {{ slide.content_payload.text }}
  </div>
  {% endif %}

  {% if slide.content_payload.prompt %}
  <div class="lesson-drag-word__feedback">
    {{ slide.content_payload.prompt }}
  </div>
  {% endif %}

  {% if slide.content_payload.sentence_items %}
  <div class="lesson-drag-word__cards">
    {% for sentence in slide.content_payload.sentence_items %}
    <div class="lesson-drag-word__card">
      {{ sentence }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>