<nav class="block-progress" aria-label="Lesson block progress" x-show="!presentationMode" x-cloak>
  {% if ordered_slides %}
    {% for block in ordered_blocks %}
      {% set block_start_index = ordered_slides | selectattr('block.block_id', 'equalto', block.block_id) | map(attribute='block_first_slide_index') | first %}
      <button
        type="button"
        class="block-progress__item"
        :class="{ 'block-progress__item--active': activeBlockId === '{{ block.block_id }}' }"
        @click="goToSlide({{ block_start_index }})">
        <span class="block-progress__number">Block {{ block.block_id }}</span>
        <span class="block-progress__code">{{ block.label }}</span>
      </button>
    {% endfor %}
  {% endif %}
</nav>
